/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url('../fonts/Baskerville.ttc');

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
	font-family: Baskerville;
	color: gray;
}

h2 {color: gray}

img {
	border-style: solid;
	border-width: 5px;
	border-color: gray;
}

.press img:hover {
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

footer {
	position: relative;
	text-align: right;
}
